* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

main {
  width: 100%;
  height: 100%;
  min-height: 90dvh;
  padding: 0.5rem;

}

