.login-page-container {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    color: #333;
}

.login-page-container h1 {
    font-size: 3em;
}

.login-page-container p {
    font-size: 1.2em;
}

.login-page-container .patience-message {
    margin-top: 20px;
    font-style: italic;
    color: #777;
}
